input:not([type="checkbox"]), textarea{
    background-color: #fff;
    background-image: none;

    -webkit-appearance: none;
    outline: 0;
    
    // border: 2px solid rgba(0, 0, 0, 0.151) !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    
    // font-family: Arial, sans-serif;
    color: #2c2c2c !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: normal !important;

    padding: 8px 12px;
    vertical-align: middle;
    min-height: 35px;
   
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
    
    -webkit-box-shadow: none;
    box-shadow: none;
    
    &:active, &:focus {
        border-color: #5985ee !important;
        box-shadow: none !important;
    }
}

input[type="checkbox"] {
    // border: 4px solid rgba(0, 0, 0, 0.151) !important;
    height: 13px;
    width: 16px;
}


label {
    font-size: 13px !important;
    text-align: left !important;
    font-weight: 600;
}

.form-group{
    min-width: 200px;
}